<h3>Cart</h3>
<div>Count: {{ store.order.items.length}}</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of store.order.items">
            <td>
            <img src="/img/{{item.playerCardCardId}}.png"  alt="{{item.playerCardPlayerName}}" class="img-fluid cardthumb" />
            </td>
            <td>{{item.playerCardPlayerName}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unitPrice | currency: "GBP"}}M</td>
            <td>{{item.unitPrice * item.quantity | currency: "GBP"}}M</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"><strong>Subtotal: {{store.order.subtotal | currency: "GBP"}}M</strong></td>
        </tr>
    </tfoot>
    
</table>
<a class="btn btn-secondary" *ngIf="store.order.items.length > 0" routerLink="checkout">Checkout</a>
<hr />
