@{
    ViewBag.Title = "Home Page";
}

<p>This is a website for card ...</p>
<div class="row">


    
    <div class="col-md-3">
        <p>This is a simple site to do some buying of football player cards </p>
    </div>
</div> 