@{
    ViewBag.Title = "Home Page";
}

<p>This is a website for card ...</p>
<div class="row">
    <div class="col-md-9 bg-danger">
        <div class="product-info">
            <img src="~/img/BERGKAMP.png" class="magicSize" />


            <h3 class="container">Mug</h3>
            <ul class="products-props">
                <li>Price: $250.99 M</li>
                <li>Artist: Bergkamp</li>
                <li>Title: </li>
                <li>Description: Self-Portrait</li>
            </ul>
            <button id="buyButton" class="bnt btn-success">Buy</button>
        </div>
    </div>
        <div class="col-md-3 offset-2">
            <div id="login-block">
                <div class="toggle-item">Login</div>
                <div class="popup-form">
                    <form>
                        <div>
                            <label>Username</label>
                            <input />
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="password" />
                        </div>
                        <div>
                            <input type="checkbox" />
                            <label>Remember Me?</label>
                        </div>
                        <div>
                            <input type="submit" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    <div class="col-md-3">
        <p>This is a simple site to do some buying of football player cards </p>
    </div>
</div> 