@{
    ViewBag.Title = "Home Page";
}

<div class="bg bg-light">
    <p class="text-center">This is a website for card ...</p>
    <div class="row">



        <div class="col-md-12">
            <p class="text-center">This is a simple site to do some buying of football player cards </p>
        </div>
    </div>
</div>